# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Machine Learning\Modelling-with-CICIDS2017\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
